<style>
    @import url("../../styles/global.css");

    .container {
        width: calc(calc(var(--ds-size) * 6) - 2px);
        height: calc(var(--ds-size) * 3);
        background-image: linear-gradient(#FFFFFF, #C7C7C7);
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        text-align: center;
        font-size: var(--ds-size);
        text-transform: uppercase;
    }

</style>

<div class="container">
    <span class="title">hyperlink</span>
</div>