---
import "../styles/global.css";
import { getCollection } from "astro:content";
import Status from "../components/Status.astro";

const lyricStatuses = await getCollection("lyricStatuses");
---

<html lang="en">
  <head>
    <title>Lyric Status | blake.earth</title>
    <script is:inline>
        const saved = localStorage.getItem('theme');
        if (saved === 'dark') document.documentElement.classList.add('dark');
    </script>
  </head>
  <body style="background:transparent;">
    <main class="p-4">
      <ul class="lyrics flex flex-col gap-2">
        {
              lyricStatuses.reverse().map((lyric) => (
                <Status
                  emoji={lyric.data.emoji}
                  date={lyric.data.date ? lyric.data.date.toLocaleDateString() : ""}
                  attribution={lyric.data.attribution}
                >
                  <span class="font-size-sm">{lyric.data.text}</span>
                </Status>
              ))
            }
      </ul>
    </main>
  </body>
</html>
