---
import "../styles/global.css";
import { getCollection } from "astro:content";
import Status from "../components/Status.astro";

const siteUpdates = await getCollection("siteUpdates");
---

<html lang="en">
  <head>
    <title>Site Updates | blake.earth</title>
    <script is:inline>
        const saved = localStorage.getItem('theme');
        if (saved === 'dark') document.documentElement.classList.add('dark');
    </script>
  </head>
  <body style="background:transparent;">
    <main class="p-4">
      <ul>
        {siteUpdates.reverse().map((update) => (
          <Status
            date={update.data.date ? update.data.date.toLocaleDateString() : ""}
          >
            {update.data.text}
          </Status>
        ))}
      </ul>
    </main>
  </body>
</html>
