@font-face {
    font-family: 'ds';
    src: url('/assets/fonts/burbank.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
    font-family: 'ds';
    background-color: #64b2df;
    ;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li {
    font-family: 'ds';
    font-weight: normal;
}

@media screen and (max-width: 767px) {
    body {
        --ds-size: 1.2rem;
    }
}