---
const today = new Date();
---

<div class="w-full flex justify-center pb-8">
  <footer class="mx-8 w-xl">
    <p class="mb-4">By blake earth 💛 since 2016</p>
    <div class="text-sm">
      <p>
        <a href="https://github.com/blakeearth/neocities/" target="_blank"
          >Source code</a
        >
      </p>
      <p>
        Original content available under
        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank"
          >CC BY 4.0</a
        >.
      </p>
    </div>
  </footer>
</div>
<style>
  footer {
    padding: 2em;
    text-align: center;
  }
</style>
