---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";

const { hideGuestbook, targetParent } = Astro.props;
---

<header class="flex justify-between items-center md:items-end">
  <nav class="flex flex-wrap items-end gap-2 mb-2">
    <HeaderLink href="/" target=`${targetParent ? '_blank' : ''}`
      >{SITE_TITLE}</HeaderLink
    >
    <HeaderLink href="/cards" target=`${targetParent ? '_blank' : ''}`
      >cards</HeaderLink
    >
    <HeaderLink href="/library" target=`${targetParent ? '_blank' : ''}`
      >library</HeaderLink
    >
    <HeaderLink
      href="/links"
      target=`${targetParent ? '_blank' : ''}`
      class=`${hideGuestbook ? 'hidden' : ''}`>links</HeaderLink
    >
    <a
      class=`${hideGuestbook ? 'hidden' : ''}`
      target="_blank"
      href="https://drive.proton.me/urls/4Z6XRNNZ64#qIyCKpbs20KG">guestbook</a
    >
  </nav>
  <div class="relative h-full pointer-events-none flex">
    <img
      class="md:w-[3ch] w-[1.5ch] mb-1 scale-400 mr-4 md:mr-8"
      src="/images/lamp.gif"
      alt="An animated purple-and-orange lava lamp"
    />
  </div>
</header>
<style>
  nav a {
    color: white;
  }

  nav a:hover {
    box-shadow: 0 6px 8px var(--glass-shadow);
  }
</style>
