---
import Highlight from "./Highlight.astro";

const { highlights } = Astro.props;
---

<div class="flex flex-col gap-4">
  {
    highlights.map((highlight: unknown) => (
      <Highlight highlightId={highlight.id} />
    ))
  }
</div>
