---
import FormattedDate from "./FormattedDate.astro";

interface Props {
  emoji?: string;
  date?: string;
  attribution?: string;
}

const { emoji, date, attribution } = Astro.props;
---

<style>
  li {
    list-style: none;
  }

  .lyric-row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .emoji {
    font-size: 2rem;
    line-height: 1;
    user-select: none;
  }
</style>

<li>
  <div class="flex">
    <span class="text-sm">
    {date && <FormattedDate date={new Date(date)} className="text-sm" />}
    {attribution}
    </span>
  </div>
  <div class="lyric-row">
    {emoji && <span class="emoji">{emoji}</span>}
    <slot />
  </div>
</li>
