<style>
    @import url("../../styles/global.css");

    .box {
        border: 1px solid black;
        width: calc(var(--ds-size) * 16);
        height: calc(var(--ds-size) * 24);
        max-height: calc(var(--ds-size) * 24);
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
    }

    slot {
        padding: calc(var(--ds-size) * 0.5);
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
</style>

<div class="box">
    <top-bar>
        <span slot="title">
            <slot name="title"></slot>
        </span>
    </top-bar>
    <div class="content">
        <slot name="content">
            <span>Default content</span>
        </slot>
    </div>
</div>